#!/usr/bin/env bash

# Custom
alias up='cd ..'
#alias mv='mv -i'
#alias cp='cp -i'
#alias rm='rm -i'
alias df='df -h'
alias du='du -h'
alias mkdir='mkdir -p'
alias anacondamode='source /opt/anaconda/bin/activate'

# Easier navigation: .., ..., ...., ....., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~" # `cd` is probably faster to type though
alias -- -="cd -"

# Directories
alias home='cd ~'
alias repos="cd ~/repos"
alias notebooks="cd ~/notebooks"
alias dev="cd ~/dev"
alias n="cd ~/node"
alias dl="cd ~/Downloads"
alias dt="cd ~/Desktop"
alias htdocs='cd /Applications/MAMP/htdocs'

# Browsers
alias firefox='open -a Firefox'
alias chrome='open -a Google\ Chrome'
alias safari='open -a Safari'

# Git
alias g="git"
alias gs='git status '
alias ga='git add '
alias gb='git branch '
alias gc='git commit'
alias gd='git diff'
alias gk='gitk --all&'
alias gx='gitx --all'

alias cclip='xclip -sel clip'

